* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #fff9f4;
  color: #2d2d2d;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.logo {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  color: #6d071a;
  font-weight: 700;
}
.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #d4af37;
}

.nav-icons {
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background: linear-gradient(to right, #fff9f4 55%, #f4e7d3 45%);
}
.hero-tag{
    display:inline-block;
    background:#d4af37;
    color:white;
    padding:8px 18px;
    border-radius:50px;
    margin-bottom:20px;
    font-size:.9rem;
}
.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 4rem;
  line-height: 1.1;
  font-family: "Playfair Display", serif;
  color: #6d071a;
  margin-bottom: 25px;
}

.hero-content p {
  font-size: 1.1rem;
  max-width: 500px;
  line-height: 1.8;
  margin-bottom: 30px;
}
.hero-content button {
  padding: 15px 35px;
  border: none;
  background: #6d071a;
  color: white;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.hero-content button:hover {
  background: #d4af37;
  transform: translateY(-3px);
}
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
 width:100%;
 max-width:500px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.categories {
  padding: 100px 8%;
}
.categories h2 {
  text-align: center;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  color: #6d071a;
  margin-bottom: 60px;
}
.category-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:30px;
    max-width:2200px;
    margin:50px auto;
}
.saree,
.jewellery,
.lehenga,
.kurti,
.blouse{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.card{
    height:350px;
    border-radius:20px;
    overflow:hidden;
    position:relative;
}
.card{
    height:400px;
    border-radius:20px;
    position:relative;
    overflow:hidden;
    background-size:cover;
    background-position:center;
    cursor:pointer;
    transition:.4s;
}
.card:hover {
  transform:translateY(-8px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
}
.card h3 {
    color:white;
    font-size:2rem;
    font-family:'Playfair Display',serif;
    letter-spacing:1px;
    text-shadow:0 3px 10px rgba(0,0,0,.5);
    position:absolute;
    bottom:25px;
    left:25px;
    z-index:2;
}
.card::before{
    content:"";
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        to top,
        rgba(0,0,0,.6),
        rgba(0,0,0,.1)
    );
}
.saree {
  background: url("../images/sar.jpg");
  background-size: cover;
  background-position: center;
}

.jewellery {
  background: url("../images/jewher.jpg");
  background-size: cover;
  background-position: center;
}
.lehenga {
  background: url("../images/leh.jpg");
  background-size: cover;
  background-position: center;
}
.kurti {
  background: url("../images/kurt.jpg");
  background-size: cover;
  background-position: center;
}
.featured-products {
  padding:120px 8%;
    background:white;
}
.section-header {
  text-align: center;
  margin-bottom: 60px;
}
.section-header h2 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  color: #6d071a;
}
.section-header p {
  margin-top: 15px;
  font-size: 1rem;
  color: #777;
}
.product-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
}
.product-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.product-image {
  position: relative;
  height: 420px;
  overflow: hidden;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position:center top;
  transition: 0.5s;
}
.product-card:hover img {
  transform: scale(1.1);
}
.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #d4af37;
  color: white;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 0.8rem;
}
.wishlist {
  position: absolute;
  top: 15px;
  right: 15px;
  background: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product-info {
  padding: 20px;
}
.product-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.product-info p {
  color: #777;
  margin-bottom: 15px;
}
.product-info h4 {
  color: #6d071a;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.product-info button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #6d071a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.product-info button:hover {
  background: #d4af37;
}
.why-shringar{
    padding:100px 8%;
    background:#fdf3ea;
}
.features-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-top:50px;
}
.feature-card{
    background:white;
    padding:35px;
    border-radius:20px;
    text-align:center;
    transition:.3s;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
}
.feature-card:hover{
    transform:translateY(-8px);
}
.feature-card h3{
    color:#6d071a;
    margin-bottom:15px;
}
.footer{
    background:#3b0d16;
    color:white;
    padding-top:70px;
}
.footer-container{
    width:85%;
    margin:auto;

    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:40px;
}
.footer-col h2,
.footer-col h3{
    margin-bottom:20px;
    color:#d4af37;
}

.footer-col p{
    line-height:1.8;
}

.footer-col ul{
    list-style:none;
}

.footer-col ul li{
    margin-bottom:12px;
}

.footer-col ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}
.footer-col ul li a:hover{
    color:#d4af37;
}
.footer-bottom{
    text-align:center;
    padding:25px;
    margin-top:50px;
    border-top:1px solid rgba(255,255,255,.15);
}
.wedding-season{
    padding:100px 8%;
}
.wedding-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}
.wedding-card{
    height:380px;
    border-radius:20px;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    transition:.4s;
    background-size:cover;
    background-position:center;
}
.wedding-card:hover{
    transform:translateY(-8px);
}
.wedding-card::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
    to top,
    rgba(0,0,0,.65),
    rgba(0,0,0,.1)
    );
}
.wedding-card h3{
    position:absolute;
    bottom:25px;
    left:25px;
    color:white;
    z-index:2;
    font-size:1.8rem;
    font-family:'Playfair Display',serif;
}
.haldi{
background:url("../images/haldi.jpg");
background-size:cover;
background-position:center;
}
.mehendi{
background:url("../images/mehn.jpg");
background-size:cover;
background-position:center;
}
.sangeet{
background:url("../images/san.jpg");
background-size:cover;
background-position:center;
}
.reception{
background:url("../images/rec.jpg");
background-size:cover;
background-position:center;
}
.bridal{
background:url("../images/bri.jpg");
background-size:cover;
background-position:center;
}
.guest{
background:url("../images/gue.jpg");
background-size:cover;
background-position:center;
}
.heritage{
    padding:120px 8%;
    background:#fdf3ea;
}
.heritage-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}
.heritage-card{
    background:white;
    padding:40px;
    border-radius:24px;
    text-align:center;
    transition:.4s;
    box-shadow:
    0 10px 25px rgba(0,0,0,.08);
}
.heritage-card:hover{
    transform:translateY(-10px);
    background:#6d071a;
    color:white;
}
.heritage-card h3{
    margin-bottom:12px;
    font-size:1.5rem;
    font-family:'Playfair Display',serif;
}
.heritage-card p{
    line-height:1.7;
}
.blouse{
    background:url("../images/bl.jpg");
    background-size:cover;
    background-position:center;
}
.trending{
    padding:100px 8%;
    background:white;
}
.trending-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}
.trend-card{
    background:white;
    padding:50px 20px;
    text-align:center;
    border-radius:20px;
    box-shadow:
    0 10px 25px rgba(0,0,0,.08);
    transition:.4s;
}
.trend-card:hover{
    transform:translateY(-8px);
    background:#6d071a;
    color:white;
}
.trend-card h3{
    font-size:1.3rem;
}
.wedding-content{
    position:absolute;
    bottom:25px;
    left:25px;
    z-index:2;
    color:white;
}
.wedding-content p{
    margin-top:8px;
    font-size:.9rem;
}
.couple-collection{
    padding:120px 8%;
}
.couple-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:30px;
}
.couple-card{
    height:400px;
    border-radius:24px;
    overflow:hidden;
    position:relative;
    cursor:pointer;
    transition:.4s;
    background-size:cover;
    background-position:center;
}
.couple-card:hover{
    transform:translateY(-10px);
}
.couple-card::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
    to top,
    rgba(0,0,0,.7),
    rgba(0,0,0,.15)
    );
}
.couple-card h3{
    position:absolute;
    bottom:25px;
    left:25px;
    color:white;
    z-index:2;
    font-size:2rem;
    font-family:'Playfair Display',serif;
}
.engagement{
background:url("../images/engco.jpg");
background-size:cover;
background-position:center;
}
.haldi-couple{
background:url("../images/haldc.jpg");
background-size:cover;
background-position:center;
}
.mehendi-couple{
background:url("../images/mehc.jpg");
background-size:cover;
background-position:center;
}
.reception-couple{
background:url("../images/crec.jpg");
background-size:cover;
background-position:center;
}
.traditional-couple{
background:url("../images/tradc.jpg");
background-size:cover;
background-position:center;
}
.festive-couple{
background:url("../images/festtwic.jpg");
background-size:cover;
background-position:center;
}
.wedding-content{
    position:absolute;
    bottom:25px;
    left:25px;
    z-index:2;
    color:white;
}
.wedding-content p{
    margin-top:8px;
    font-size:.9rem;
}